<div class="row">
    <div class="col-md-12">
        <div class="col-sm-1" style="width:20%">
            <div class="thumbnail">
                <img class="img-responsive user-photo"
                     src="{{ url_for("static", filename=comment.author.profile_pic) }}">
            </div>
        </div>

        <div class="col-sm-8" style="width:80%">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@{{ comment.author.username }}</strong> <span
                        class="text-muted">commented on {{ comment.created_on }}</span>
                    <a class="btn-flat btn-sm white darken-1" data-toggle="modal"
                       data-target="#myModal1" style="padding-right: 0">
                        <i class="material-icons">reply</i>
                    </a>
                </div>
                <div class="panel-body">
                    {{ comment.body }}
                </div>
            </div>
        </div>
    </div>
</div>