<nav class="navbar navbar-fixed-top z-depth-1" role="navigation" style="background-color: #3F729B !important;">

    <div class="navbar-brand" style="padding-right: 0">
        <a class="navbar-brand navbar-left" href="{{"/users/"+user.username|string if user else "/auth/login"}}" style="margin: 0px; padding: 2px">
            <img src="{{ url_for("static", filename=user.profile_pic if user else "media/def_profile_pic.jpg") }}"
                 class="profile-image img-circle"
                 style="width: auto; height: 100% ; margin: 2px; padding: 2px">
        </a>
    </div>
    <div class="navbar-brand" style="padding-right: 0; padding-left: 0">
        <a class="navbar-brand"
           href="{{ "/users/"+user.username|string if user else "/auth/login" }}">{{ "@" + user.username|string if user else "login" }}</a>
    </div>


    <a href="/"><img class="navbar-brand navbar-right" src="{{ url_for("static", filename="image/logo.png") }}"
                     style="float: right; width: 200px; height: auto; margin-right: 20px"></a>
</nav>